<ion-header>
  <ion-toolbar>

    <!-- Botão do menu -->
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <div class="ion-text-center ion-margin ion-padding" *ngIf="!data">
    <ion-spinner name="lines">

    </ion-spinner>
  </div>
  <!-- Se existem usuários para mostrar -->
<ion-list *ngFor="let user of data">

  <ion-item routerDirection="root" [routerLink]="['/usuario/', user.id]">
    <ion-avatar slot="start">
      <img src="{{user.avatar}}" alt="{{user.name}}">
    </ion-avatar>
    <ion-label>
      <h2>{{user.name}}</h2>
      <h3>{{user.email}}</h3>
    </ion-label>
  </ion-item>

</ion-list>

  <!-- Se não existem usuários para mostrar -->
  <ion-ion-list *ngIf="noUsers">
      <ion-item color="danger">
        <ion-label class="ion-text-center">Nenhum usuário foi encontrado!</ion-label>
          </ion-item>

  </ion-list>
</ion-content>




